<!DOCTYPE html>
<html lang="en">
<body>
    
    <header class="app-header">
        <div class="app-logo">
            <img src="https://clipground.com/images/music-png-logo-2.png"  width="300" height="220" alt="App Logo">
        </div>
        <div class="app-name">
            <h1>Rhythmy</h1>
        </div>
        <button (click) = "logoutApp()" class = "logout-button ">Logout</button>
    </header>

    <nav class="navbar">
        <a routerLink="home">
           
            Home
        </a>
        <a routerLink="search">
           
           Search 
        </a>
        <a routerLink="library">
           
           Library
        </a>
        <a routerLink="user">
                      User
        </a>
    </nav>
    
</body>
</html>
